body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
    background-image: url(https://wallpapercave.com/wp/wp4103774.jpg);
}

.calculator {
  width: 560px;
    
    border-radius: 10px;
    box-shadow: 0 4px 15px white;
    overflow: hidden;
    
}

.display {
    background:#fff;
    color:black;
    font-size: 40px;
    text-align: right;
    padding: 20px;
    height: 70px;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    background-color:  rgba(0, 0, 0, 0.298);
}

.buttons {
 display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
   
    padding: 10px;
    background-color: #ffffff rgba(0, 0, 0, 0.298);
}

button {
    padding: 20px;
    font-size: 24px;
    color: #000000;
    background: #eee9e9;
    border: none;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 50px;
}

button:hover {
    background: black;
    color: white;
}

button:active {
    background: #ccc;
}

button.zero {
    grid-column: span 2;
}
